@model SportFlex.Models.Review

@{
    ViewData["Title"] = "Edit Review";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5 animate__animated animate__backInUp">
                <div class="card-header bg-primary text-white">
                    <h1 class="text-center animate__animated animate__delay-1s animate__fadeIn">Edit Review</h1>
                </div>
                <form asp-action="Edit">
                    <div class="card-body animate__animated animate__delay-1s animate__fadeIn">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="UserId" class="control-label"></label>
                            <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProductId" class="control-label"></label>
                            <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                            <span asp-validation-for="ProductId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Comment" class="control-label"></label>
                            <textarea asp-for="Comment" class="form-control"></textarea>
                            <span asp-validation-for="Comment" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer form-group text-center animate__animated animate__delay-1s animate__fadeIn">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-action="Details" asp-controller="Products" asp-route-id="@Model.ProductId" class="btn btn-dark">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
