@model SportFlex.Models.Color

@{
    ViewData["Title"] = "Delete Color";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5 animate__animated animate__backInUp">
                <div class="card-header bg-danger text-white">
                    <h1 class="text-center animate__animated animate__delay-1s animate__fadeIn">Delete Color</h1>
                </div>
                <div class="card-body animate__animated animate__delay-1s animate__fadeIn">
                    <h4>Color Details</h4>
                    <hr />
                    <dl class="row">
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer text-center animate__animated animate__delay-1s animate__fadeIn">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a asp-action="Index" class="btn btn-dark">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>