@model IEnumerable<SportFlex.Models.Color>

@{
    ViewData["Title"] = "Colors";
}

<div class="container">
    <div class="animate__animated animate__fadeIn">
        <h1 class="text-center mb-4">Colors</h1>
        <p class="text-center">
            <a asp-action="Create" class="btn btn-dark">Create Color</a>
        </p>
    </div>

    <div class="table-responsive animate__animated animate__fadeInUp">
        <table class="table table-striped">
            <thead class="animate__animated animate__delay-1s animate__fadeIn">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody class="animate__animated animate__delay-1s animate__fadeIn">
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
